@import "bootstrap";
@import "./actiontext.scss";

body {
  font-family: 'Lato', sans-serif;
  background: #EDEFF0;
}

header { 
  color: #397CAC !important;
  .logo{
    color: #397CAC !important;
    a {
      text-decoration: none !important;
      &:hover {
        background-color: unset;
        background: unset;
      }
    }
  }
}

.nav-buttons {
  color: white;
  border: 1px solid #397CAC;
  padding: .5em 1em;
  border-radius: 0.2em;
  text-decoration: none;
  background: #397CAC !important;

  &:visited {
    color: white !important;
  }

  &:hover {
    background: white !important;
    color: black !important;
  }
}

a:-webkit-any-link {
  text-decoration: none !important;
  &:hover{ 
    background-color: unset;
  }
}

.link-title {
  margin: 0;
  a {
    color: #397CAC;
    font-weight: 100;
    font-size: 1.25rem;
  }
}

.title {
  color: #397CAC;
  font-weight: 100;
  font-size: 1.25rem;
}

.date {
  font-size: 0.9rem;
  color: #B2BAC2;
}

.buttons {
  color: white;
  border: 1px solid #397CAC;
  padding: .5em .5em;
  border-radius: 0.5em;
  text-decoration: none;
  background: #397CAC !important;
  font-size: smaller;

  &:visited {
    color: white !important;
  }

  &:hover {
    background: white !important;
    color: black !important;
  }
}
